<% if @review.present? && @review.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="mt-10 flex flex-col justify-center items-center">
    <h2 class="text-xl"> The Following errors occured!</h2>
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li class="text-red-500"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
