        <div class="lg:mx-auto lg:py-4" id="edit_review_div">
          <label class="text-xl">Critic Review</label>
          <p class="mt-4"><%= @movie.review.content %></p>
         
        </div>
        <div class="flex flex-row text-align-center lg:p-4 my-10 border-4 border-gray-300 bg-gray-100">
          <h1 class="text-4xl lg:w-3/4 mr-auto">Critic Score</h1>
          <p class="w-1/4 text-3xl text-right"><%= @movie.review.score %>/10</p>
        </div>
        </div>