<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-2xl font-bold">Password Recovery</h1>
  <p class="text-lg mt-4">Instructions have been sent to your email.</p>
  <%= link_to "Return to Sign In", root_path,  class: "mt-8 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"%>
</div>
